$background:  #191919;
$color: #F72798;
$white: #fff;
$mobile: 480px;

@import url("//cdn.web-fonts.ge/fonts/alk-life/css/alk-life.min.css");

body {
    background-color: $background;
    background-image: url("https://www.transparenttextures.com/patterns/circles.png");
    font-family: "ALK Life", sans-serif;
    overflow: hidden;

}

.border {
    
    width: 90%;
    height: 90vh;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:
    0 0 5px #fff,
    0 0 20px #fff,
    0 0 40px #0ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  

    button {
        width: 400px;
        background-color: #0ff;
        cursor: pointer;
        padding: 10px 20px;
        color: $background;
        font-weight: bold;
        font-size: 20px;
        outline: none;
        font-family: "ALK Life", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        box-shadow: -5px 5px $white;
        transition: all 0.9s cubic-bezier(0.445, 0.05, 0.55, 0.95);

        &:hover {
            background-color: #F72798;
            color: $white;
        }

    }
}


.audio {
    position: absolute;
    color: $white;
    bottom: 15px;
    right: 30px;
    
}


.title {

    color: $white;
    text-align: center;
    font-size: 3rem;
    
}




@keyframes quiet {
    25%{
      transform: scaleY(.6);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.8);
    }
  }
  
  @keyframes normal {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.6);
    }
  }
  @keyframes loud {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(1.2);
    }
  }
 
  .boxContainer{
    position: absolute;
    top: 10px;
     left: 48%;
    display: flex;
    justify-content: space-between;
    height: 64px;
    --boxSize: 8px;
    --gutter: 4px;
    width: calc((var(--boxSize) + var(--gutter)) * 5);
  }
  
  .box{
    transform: scaleY(.4);
    height: 100%;
    width: var(--boxSize);
    background: #12E2DC;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
  }
  
  .box1{
    animation-name: quiet;
  }
  
  .box2{
    animation-name: normal;
  }
  
  .box3{
    animation-name: quiet;
  }
  
  .box4{
    animation-name: loud;
  }
  
  .box5{
    animation-name: quiet;
  }


  .images {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 6rem;
    margin-top: 50px;



      img {
        width: 350px;
        height: 230px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

             &:hover {
               opacity: 0.7;
            }
      }
  }


  audio {
    display: none;
  }

  .next-button {
    position: absolute;
    right: 30px;
    background-color: #0ff;
     border: none;
     padding: 7px 15px;
     cursor: pointer;
     color: $background;
     font-weight: bold;
     font-family: "ALK Life", sans-serif;
     font-size: 17px;
     border-radius: 7px;
     box-shadow: -5px 5px $white;
     transition: all 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);

         &:hover {
          background-color: #F72798;
          color: $white;
         }
  }


  .score {
    position: absolute;
    left: 40px;
    color: $white;
    font-size: 2rem;
    top: 0;
  }


  @media screen and (max-width: $mobile) {
     .images {
       display: flex;
       flex-direction: column;
       gap: 15px;

         img {
          width: 200px;
          height: 100px;
         }
     }

     .boxContainer {
      position: absolute;
      left: 70%;
     }

     .win {
      width: 80%;
      margin: auto;
      text-align: center;
     }

      .but {
        display: flex;
        flex-direction: column;
        
          
        button {
          width: 250px;
          margin: auto;
        }
      }

      


    
  }

  @media screen and (max-width: 768px) {
    .images {
      display: flex;
      flex-direction: column;
      gap: 15px;
      
          img {
            width: 200px;
            height: 100px;
           }
      
        
    }

    .title {
      font-size: 2rem;
    }
    .buttons button {
      width: 250px;
      margin: auto;
    }

 }


 .win-text {
   color: $white;
 }

 .restart {
  width: 300px;
  background-color: #0ff;
  cursor: pointer;
  padding: 10px 20px;
  color: $background;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  font-family: "ALK Life", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  box-shadow: -5px 5px $white;
  transition: all 0.9s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  &:hover {
      background-color: #F72798;
      color: $white;
  }


 }

 .but {
  display: flex;
  gap: 3rem;
 }